<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/getfact" method="post" style="color: red">
        Name: 
        <input id="name" name="name" minlength="1" required>
        <input type="submit" value="Generate Cat Fact">
    </form>

    <form action="/myfacts" method="get">
        Name: 
        <input id="name" name="name" minlength="1" required>
        <input type="submit" value="View my cat facts">
    </form>
    
</body>
</html>